/* html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
body {
  /* position: relative; */
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: #c0c0aa;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* overflow: hidden; */
}
#wrapper {
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
h1 {
  margin: 25px auto;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px black;
  color: #c0c0aa;
}
h2 {
  color: #c0c0aa;
  text-shadow: 1px 1px 4px black;
}
.apiImg {
  margin: 0 auto;
  /* max-width: 80vw; */
}
p#dataImg {
  color: white;
  margin: auto auto 25px auto;

  padding: 5px;
  text-shadow: 1px 1px 4px black;
}
img {
  max-height: 60vh;
  max-width: 95vw;
  background-color: black;
  border: solid 1px #c0c0aa;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* TODO: faire du media querie ici */
footer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* min-height: 10vh; */
  color: black;
  background-color:  #c0c0aa;
  border-top: solid 1px grey;
}
